<h3>Products</h3>
<div class="lista">
  {{#each products}}
    <div class="item">
      <h3>{{this.title}} <p> id:{{this.id}}</p></h3>
      <p>{{this.description}}</p>
      <p>${{this.price}}</p>
      <img src={{this.thumbnail}} alt="">
    </div>
  {{/each}}
</div>

